footer.footer
	.footer_row
		.footer-col
			a.footer_logo
				img(src="/img/footer_logo.jpg")
			p.footer_text The revolutionary way to buy and sell your home. NJ Offer is on a mission to make it as easy to trade-in your home as it is to trade-in your car. We bring certainty, convenience and cost-efficiency to home buying and selling.
		.footer-col
			h5.footer-col_title Sell Your Home
			a.footer-col_link Sell
			a.footer-col_link Why NJ Offer?
			a.footer-col_link Pricing
			a.footer-col_link FAQ’S
			a.footer-col_link Our Blog
		.footer-col
			h5.footer-col_title Contact Us
			a(href="tel:9088002030").footer-col_link 908-800-2030
			a.footer-col_link 399 Campus Drive, Suite 310 #[br] Somerset, NJ 08873
			a(href="mailto:info@njoffer.com").footer-col_link info@njoffer.com
	.footer-copy
		.footer-copy_inner
			span Copyright © 2024 NJ Offer. All Rights Reserved.
			.footer-copy_links
				a.footer-copy_link Privacy Policy
				.disc
				a.footer-copy_link Terms of Use
	form.mobile-form
		button(data-click="front:showMobileForm" type="button").mobile-form_button Get my free offer
		label.location-form_label.mobile-form_label
			input(type="text" placeholder="Enter your home address...").location-form_input
			button.location-form_submit
				span Get Free Offer
		span.mobile-form_text FREE • NO OBLIGATION • 24H
	.popup
		.popup-inner#video
			iframe(src="")
		button(data-click="front:closeModal" type="button").popup_close
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
				path(d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z")
		.popup_bgc(data-click="front:closeModal")
	.popup.wide
		.popup-inner#purchase
			form.purchase
				h3.purchase_title We’re excited to purchase your home
				p.purchase_text Enter your home address below to get a cash offer
				label.location-form_label
					input(type="text" placeholder="Enter your home address...").location-form_input
					button.location-form_submit
						span Get Free Offer
				button(data-click="front:closeModal" type="button").purchase_close
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
						path(d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z")
		.popup_bgc(data-click="front:closeModal")
	script(src='/front.js' type='module')