footer.footer
	.footer_row
		.footer-col
			a.footer_logo
				| CashForMyNJHouse
			p.footer_text Buy4Cash is a real estate investment company. We are not real estate agents or brokers, and we do not list houses on the MLS. We purchase homes directly from sellers for cash.
		.footer-col
			h5.footer-col_title Sell Your Home
			a(href="#sell").footer-col_link Sell
			a(href="#why").footer-col_link Why Buy4Cash?
			a(href="#about").footer-col_link About Us
			//a.footer-col_link Pricing
			a(href="#faq").footer-col_link FAQ’S
			//a.footer-col_link Our Blog
		.footer-col
			h5.footer-col_title Contact Us
			a(href="tel:7327403896").footer-col_link 732-740-3896
			a.footer-col_link 200 craig road suite 220 #[br] Manalapan nj 07726
			a(href="mailto:igor@globalforwarding.com").footer-col_link Igor@globalforwarding.com
	.footer-copy
		.footer-copy_inner
			span Copyright © 2024 Buy4Cash. All Rights Reserved.
			.footer-copy_links
				a.footer-copy_link Privacy Policy
				.disc
				a.footer-copy_link Terms of Use
				.disc
				a(href="#contact").footer-copy_link Contact Us
	form.mobile-form
		button(data-click="front:showMobileForm" type="button").mobile-form_button Get my free offer
		label.location-form_label.mobile-form_label
			input(type="text" placeholder="Enter your home address...").location-form_input
			button.location-form_submit
				span Get Your Cash Offer
		span.mobile-form_text FREE • NO OBLIGATION • 24H
	.popup
		.popup-inner#video
			iframe(src="")
		button(data-click="front:closeModal" type="button").popup_close
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
				path(d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z")
		.popup_bgc(data-click="front:closeModal")
	.popup.wide
		.popup-inner#purchase
			form.purchase
				h3.purchase_title We’re excited to purchase your home
				p.purchase_text Enter your home address below to get a cash offer
				label.location-form_label
					input(type="text" placeholder="Enter your home address...").location-form_input
					button.location-form_submit
						span Get Your Cash Offer
				button(data-click="front:closeModal" type="button").purchase_close
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
						path(d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z")
		.popup_bgc(data-click="front:closeModal")
	script(src='/front.js' type='module')