header.head
	.head-logo
		a.head-logo_link
			| CashForMyNJHouse
	nav.head-nav
		.head-nav_item
			a(href="#sell").head-nav_link.active
				span Sell
		.head-nav_item
			a(href="#contact").head-nav_link
				span Pricing
		.head-nav_item
			a(href="#faq").head-nav_link
				span FAQ'S
		.head-nav_item
			.head-nav_cont
				a(href='#testimonials').head-nav_link
					span Testimonials
		.head-nav_item
			.head-nav_cont
				a(href="#why").head-nav_link
					span Why Buy4Cash?
				button(data-click="front:showNavSublist").head-nav_show
			ul.head-nav_sublist.with_icons
				li.head-nav_subitem
					a(href="#about").head-nav_sublink
						span About Us
				li.head-nav_subitem
					a(href="#contact").head-nav_sublink
						span How It Works
				li.head-nav_subitem
					a(href="#contact").head-nav_sublink
						span Contact Us
	.head-phone
		a(href="tel:7327403896").head-phone_link
			span 732-740-3896
	button(data-click="front:burgerClick").head_burger
.head_sub
	.head-logo.head-logo_sub
		a.head-logo_link
			| CashForMyNJHouse
	.head-form.location-form
		label.location-form_label
			input(type="text" placeholder="Enter your home address...").location-form_input
			button.location-form_submit
				span Get Your Cash Offer
	.head-phone.head-phone_sub
		a(href="tel:9088002030").head-phone_link
			span 908-800-2030