:root
	--black: getRgb(#26353f)
	--white: getRgb(#fff)
	--blue: getRgb(#19b7c8)
	--dark-gray: getRgb(#273640)
	--gray: getRgb(#b2b7ba)

$black = var(--black)
$white = var(--white)
$dark_gray = var(--dark-gray)
$gray = var(--gray)
$blue = var(--blue)

font_inc("fontawesome-webfont","fontawesome-webfont.woff2")
$f_awesome = "fontawesome-webfont"
$f_ub = "Ubuntu Sans"